{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inputs</title>
    </head>
    <body>
        <div><h4>retailer : {{retailer}}</h4>
        </div>
        <div><h4>region : {{region}}</h4>
        </div>
        <div><h4>state : {{state}}</h4>
        </div>
        <div><h4>city : {{city}}</h4>
        </div>
        <div><h4>product : {{product}}</h4>
        </div>
        <div><h4>method : {{method}}</h4>
        </div>
        <div><h4>priceperunit : {{priceperunit}}</h4>
        </div>
        <div><h4>unitssold : {{unitssold}}</h4>
        </div>
        <div><h4>operatingprofit : {{operatingprofit}}</h4>
        </div>
        <div><h4>operatingmargin : {{operatingmargin}}</h4>
        </div>
    </body>
</html>