{%load static%}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Nike Sales Predictions</title>
  <link rel="stylesheet" href="{% static 'landing/css/landing-style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form>
  <div class="form-field">
    <button class="btn1" formaction="login" type="submit">Log in</button>
  </div>
  
  <div class="form-field">
    <button class="btn2" formaction="register" type="submit">Register</button>
  </div>
</form>
<!-- partial -->
  
</body>
</html>
